        /* Dodany styl */
        body {
            background-color: #f0f0f0;
        }

        .container {
            margin-top: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            margin-bottom: 10px;
        }

        img {
            border-radius: 50%;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .list-group-item {
            border: none;
            background-color: #f8f9fa;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .list-group-item:hover {
            background-color: #e9ecef;
        }