/* Dodany styl */
body {
  background-image: url("https://tatsu.gg/landing-page-background-pattern.png");
  background-color: hsl(214, 20%, 16%);
  background-size: 1100px;
  overflow-y: initial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fira+Mono&display=swap');
  font-family: 'Fira Mono', monospace;
  color: #fff;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0e0e0e;
  border-radius: 20px;
  z-index: 500;
}

.prawygorny {
  position: absolute;
  top: 20px;
  right: 20px;
}


.container {
  background-color: hsl(214, 20%, 16%) !important;
  margin-top: 30px;
  position: relative;
  width: calc(100% - 40px);
  max-width: 500px;
  height: auto;
  border-radius: 6px;
  border: 1px solid #00000081;
  box-shadow: 0 0 20px #00000081;
  overflow: hidden;
  z-index: 45;
  background: var(--clr-blue-400);
  align-items: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.list-group-item {
  border: none;
  background-color: hsl(213, 20%, 35%);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.list-group-item:hover {
  background-color: #7c9dbe;
}
.ikonki { 
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-100%, -50%);
  margin-left: 5px;
}