body {
    background-image: url("https://tatsu.gg/landing-page-background-pattern.png");
    background-color: hsl(214, 20%, 16%);
    background-size: 1100px;
    overflow-y: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fira+Mono&display=swap');
    font-family: 'Fira Mono', monospace;
    color: #fff;
    padding: 0px;
    margin: 0px;
}
.container-wrap { 
    border-color: 1px #000 solid;
    box-shadow: 0 0 10px #000 ;
}

.colorpicker { 
    margin: 5px solid #000; 

}
.container1 {
    background-color: hsl(214, 20%, 16%) !important;
    margin-top: 30px;
    position: relative;
    width: calc(100% - 40px);
    max-width: 500px;
    height: auto;
    border-radius: 6px;
    border: 1px solid #00000081;
    box-shadow: 0 0 20px #00000081;
    overflow: hidden;
    z-index: 45;
    background: var(--clr-blue-400);
    align-items: center;
    padding: 20px;
  }