<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind</title>
    <link rel="icon" href="/frontend/logo/wind_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/CSS/commands.css">
    <script src="https://kit.fontawesome.com/2c10079fa4.js" crossorigin="anonymous"></script>
 

</head>

<body>
 <p style="font-size: 150px; text-align: center; color:#fff;">Może kiedyś</p>
 <a href="/" style="font-size: 50px; text-align: center;">Wróć do /</a>
</body>

</html>
