<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilds</title>
    <link rel="icon" href="/frontend/logo/wind_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <p>User is in the following guilds<br><a href="/">Back to home</a></p>
        <p>Guilds with perms</p>
        <ul class="list-group">
            <% for (var i = 0; i < guilds.length; i++) { %>
            <% if (guilds[i].hasPerm ) { %>
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <img src="<%= guilds[i].avatar %>" width="15px" height="15px" class="mr-2">
                    <a href="/getUserGuilds/<%= guilds[i].id %>"><%= guilds[i].name %></a>
                </div>
            </li>
            <% } %>
            <% } %>
        </ul>
    </div>
    
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
